@font-face {
    font-family: 'ambleregular';
    src: url('police/Amble-Regular-webfont.eot');
    src: url('police/Amble-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/Amble-Regular-webfont.woff') format('woff'),
         url('police/Amble-Regular-webfont.ttf') format('truetype'),
         url('police/Amble-Regular-webfont.svg#ambleregular') format('svg');
    
    font-weight: normal;
    font-style: normal;
}


body
{
    background-color: rgb(12, 194, 170);
}

h1{
    font-family: "ambleregular", Impact,'Arial Black', Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align:center;
    position:relative;
    width: 300px;
    height: 180px;
    margin: auto;
    padding: 10px 10px 10px 10px; 

    overflow: hidden;
}

h1:before, h1:after{
    background-color: rgb(0, 0, 0);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width:10%;
}

h1::before{
    right: 0.2em;
    margin-left: -80%;
}

h1::after{
    right: 0.2em;
    margin-right: -80%;
}
/*
.entete{
    background-color:rgb(12, 194, 170);
    padding:0 10px;
}

.titre1{
    line-height:30px;
    box-shadow:0 15px 0 0 rgb(12, 194, 170) inset, 0 20px 0 0 black inset;
}
*/
.bloc1{
    color : rgb(0, 0, 0);
    border: 1.2px rgb(148, 236, 47) solid ;
    border-radius: 20px;
    font-family: 'Arial Black', Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(148, 236, 47);
    font-size: 20px;
    padding: 30px 90px 30px 90px;
    margin: auto;
}

.bloc2{
    color : rgb(0, 0, 0);
    border: 1.2px rgb(148, 236, 47) solid ;
    border-radius: 20px;
    font-family: 'Arial Black', Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(148, 236, 47);
    font-size: 20px;
    padding: 30px 50px 30px 50px;
    margin: auto;
}

a{
    text-decoration: none;
 }
 
.bloc3{
    color : rgb(0, 0, 0);
    border: 1.2px rgb(148, 236, 47) solid ;
    border-radius: 20px;
    font-family: 'Arial Black', Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(148, 236, 47);
    font-size: 20px;
    padding: 30px 70px 30px 70px;
    margin: auto;    
}
.bloc4{
    color : rgb(0, 0, 0);
    border: 1.2px rgb(148, 236, 47) solid ;
    border-radius: 20px;
    font-family: 'Arial Black', Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(148, 236, 47);
    font-size: 20px;
    padding: 30px 85px 30px 85px;
    margin: auto;    
}

.blocs1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    
    height: 150px;
}

.blocs2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    
    height: 150px;
}

.element3{
    flex-wrap: wrap;
}

h2{
    font-size: 30px;
    height: 100px;
    text-align: left;
    margin: auto;
    padding: 10px 10px 10px 10px; 
    text-decoration: underline;
}